pandas
numpy
scikit-learn
scipy
matplotlib
torch
tqdm>=4.64.1
PyYaml>=5.1
typing_extensions
typeguard>=3.0.0
nptyping
loguru

# See: breaking changes in https://github.com/openai/gym/releases/tag/0.26.0
gym>=0.23.1,<0.26.0

seaborn
cloudpickle
pytorch-lightning>=1.5.0

tensorboardX
