sphinx

# Eagerly anticipate fix to broken 'self' toctree entry.
# https://github.com/pydata/pydata-sphinx-theme/issues/926
pydata-sphinx-theme<0.10.1,>0.10.1

sphinx-toggleprompt
sphinx-autodoc-typehints
sphinxemoji
myst-parser
myst-parser[linkify]
sphinxcontrib-mermaid
sphinx-toolbox

# https://github.com/spatialaudio/nbsphinx/issues/655
# https://github.com/sphinx-gallery/sphinx-gallery/issues/984
sphinx-gallery<0.11.0

# Below are dependencies to support notebook-sphinx integration
nbsphinx
ipython
ipykernel
ipywidgets
rich

# third party package in example
psychrolib
smopy
stable-baselines3
# HACK: don't let stable-baselines3 downgrade to old gym. MUST be in-sync with requirements.txt.
gym>=0.23.1,<0.26.0
